<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" aria-current="page" id="upload-form" href="#uploadForm">Dosya Yükle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" aria-current="page" id="sonuc-list" href="#sonuclar">Sonuçlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="error-list" href="#errors">Hatalı Veri</a>
  </li>
</ul>

<div class="tab-content">
    <div id="uploadForm" class="tab-pane active p-3" role="tabpanel" aria-labelledby="upload-form">
        <form action="/" enctype="multipart/form-data" method="post">
            <input type="file" name="upload">
            <input class="btn btn-primary" type="submit" value="Upload">
        </form>
    </div>
    <div id="sonuclar" class="tab-pane p-3" role="tabpanel" aria-labelledby="sonuc-list">
        {{#if statsData}}
        <h2>Sütun Sonuçları</h2>
        <div class="row">
            <ul>
            {{#each statsData}}
                <li><strong>{{this.columnCode}} ({{this.columnHeader}}):</strong> 
                    <ul>
                        <li> Min: {{this.min}}</li>
                        <li> Max: {{this.max}}</li>
                        <li> Mean: {{this.mean}}</li>
                        <li> Median: {{this.median}}</li>
                        <li> Standart Sapma: {{this.stdDevi}}</li>
                        {{#if this.uniqueValuesRatios}}
                            <li>
                                <a class="" data-toggle="collapse" href="#valuesContainer-{{this.columnCode}}" role="button" aria-expanded="false" aria-controls="collapseValue">
                                    <strong>Değer Oranları</strong>
                                </a> 
                                <ul class="collapse" id="valuesContainer-{{this.columnCode}}">
                                    {{#each this.uniqueValuesRatios}}
                                        <li>{{this.value}}: %{{this.valuePresenceRatio}} </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/if}}
                    </ul>
            </li>
            {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
    <div id="errors" class="tab-pane p-3" role="tabpanel" aria-labelledby="error-list">
        {{#if errorSummary}}
        <h2>Hatalı Girişler</h2>
        <p>Harflerle belirtilen sütunlardaki hatalı girilmiş veri oranları gösterilmektedir.</p>
        <div class="row">
            <ul>
            {{#each errorSummary}}
                <li><strong>{{this.columnCode}} ({{this.columnHeader}}):</strong> 
                {{#if this.errorRateIfFull}}
                <span>Hepsi sorunlu.</span>
                {{else}} 
                %{{this.errorRateForColumn}} 
                {{/if}}
                {{#if this.showDetailed}}
                <a class="btn-sm btn-danger" data-toggle="collapse" href="#errsContainer-{{this.columnCode}}" role="button" aria-expanded="false" aria-controls="collapseErrs">
                                        <strong>Hatalı Alanları Göster</strong>
                                    </a> 
                    <div>
                        <ul class="collapse" id="errsContainer-{{this.columnCode}}">
                            {{#each this.filteredErrorData}}
                                <li>{{this.cellCode}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>

